<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= typeof title !== 'undefined' ? title : 'QuizBank' %></title>
<link href="/css/site.css" rel="stylesheet">
<script src="/js/dragorder.js" defer></script>
