<%- include('../../partials/header.ejs', {title: 'Content' }) %>
    <link rel="stylesheet" href="/styles/teacher-home.css">

        <main class="teacher-page-main">
            <div class="teacher-dashboard-card">
                <h1 class="teacher-dashboard-title">View Courses</h1>
            </div>
        </main>

    <%- include('../../partials/footer.ejs') %>