<%- include('../../partials/header.ejs', {title: 'Editor' }) %>

    <main class="container">
      <div class="glass-card">
        <h1 class="page-title">Editor</h1>
      </div>
    </main>

  <%- include('../../partials/footer.ejs') %>