<%- include('../../partials/header.ejs', {title: 'Dashboard' }) %>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/teacher-home.css">

    <main class="container">
        <div class="teacher-dashboard-card">
            <h1 class="teacher-dashboard-title">Teacher Dashboard</h1>
            <p class="teacher-dashboard-info">From here, you can manage and view your class content.</p>
            <div class="teacher-dashboard-buttons">
                <button onclick="location.href='/teacher/content'" class="teacher-btn teacher-btn-primary">View courses</button>
                <button onclick="location.href='/teacher/add'" class="teacher-btn teacher-btn-accent">Add content</button>
            </div>
        </div>
    </main>

    <%- include('../../partials/footer.ejs') %>