<%- include('../partials/header.ejs', {title: 'Help page' }) %>

    <main class="container">
      <div class="glass-card">
        <h1 class="page-title">Welcome to the help page.</h1>
      </div>
    </main>

  <%- include('../partials/footer.ejs') %>